.player-input-container {
  margin: 1rem;
  border: none;
}
.player-input-container :nth-child(n + 1) {
  margin-top: 1rem;
}

.player-input__legend {
  letter-spacing: 5px;
  font-size: 1.2rem;
}

.player-input__name {
  color: orangered;
  padding: 0.75rem;
  border-radius: 3px;
  border: none;
  width: 100%;
  font-size: 1.2rem;
}

.player-input__character {
  color: orangered;
  padding: 0.75rem;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.player-input__character-option {
  padding: 1rem;
}
