* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.font-spooky {
  font-family: "Lacquer", cursive;
}

.glowing-text {
  animation: glowing-text 1s alternate-reverse infinite;
}

.glowing-border {
  animation: glowing-border 1s alternate-reverse infinite;
}

@keyframes glowing-text {
  from {
    text-shadow: 0 0 50px orangered, 0 0 20px orangered, 0 0 2px black;
  }
  to {
    text-shadow: 0 0 40px rgb(116, 31, 0), 0 0 20px rgb(116, 31, 0),
      0 0 2px black;
  }
}

@keyframes glowing-border {
  from {
    box-shadow: 0 0 40px orangered, 0 0 20px orangered, 0 0 2px black;
  }
  to {
    box-shadow: 0 0 40px rgb(116, 31, 0), 0 0 20px rgb(116, 31, 0),
      0 0 2px black;
  }
}

.btn {
  background-color: black;
  color: orangered;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 0 2px orangered;
}

.btn:hover {
  color: black;
  background-color: orangered;
  box-shadow: 0 0 20px orangered;
}
